<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">{{title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/speakers" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Speakers</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/speakers/lorenzogarcia">Lorenzo Garcia</a>
                            <a class="dropdown-item" href="/speakers/hilary">Hilary Goldywynn Post</a>
                            <a class="dropdown-item" href="/speakers/riley">Riley Rudolph Rewington</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/speakers">All Speakers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>