/**  Header Navigation **/

header {
    font-size: 2rem;
  }
  
  header .jumbotron {
    height: 40vh;
    margin-bottom: 0;
    background: url(../images/misc/background.jpg) no-repeat 100% 5%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  