<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Speakers Conference</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <header>
            <div class="jumbotron hidden-xs"></div>
            <!-- jumbotron-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="/">Roux Conference</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/speakers" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Speakers</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/speakers/lorenzogarcia">Lorenzo Garcia</a>
                                    <a class="dropdown-item" href="/speakers/hilary">Hilary Goldywynn Post</a>
                                    <a class="dropdown-item" href="/speakers/riley">Riley Rudolph Rewington</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/speakers">All Speakers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {{!-- <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header"><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a
                            class="navbar-brand" href="./index.html">Roux Meetups</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="./index.html">Home</a></li>
                            <li><a class="dropdown-toggle" href="./speakers.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Speakers<span class="caret"><span></span></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="./speakers.html">All Speakers</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li><a href="/speakers/Lorenzo_Garcia">Lorenzo Garcia</a></li>
                                    <li><a href="./Hillary_Goldwynn.html">Hilary Goldywynn Post</a></li>
                                    <li><a href="/speakers/Riley_Rewington">Riley Rudolph Rewington</a></li>
                                </ul>
                            </li>
                            <li><a href="./feedback.html">Feedback</a></li>
                        </ul>
                        <!-- nav-->
                    </div>
                    <!-- navbar-collapse-->
                </div>
                <!-- container-->
            </nav> --}}
        </header>
        <p id="welcome">Welcome!</p>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>