<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Speakers Conference</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <header>
            <div class="jumbotron hidden-xs"></div>
            <!-- jumbotron-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="/">Roux Conference</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/speakers" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Speakers</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/speakers/lorenzogarcia">Lorenzo Garcia</a>
                                    <a class="dropdown-item" href="/speakers/hilary">Hilary Goldywynn Post</a>
                                    <a class="dropdown-item" href="/speakers/riley">Riley Rudolph Rewington</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/speakers">All Speakers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>  
        </header>
        <article class="speakerslist jumbotron hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <h3 class="speakerslist-title">Art in Full Bloom</h3>
                        <h5 class="speakerslist-name">with<a href="/speakers/Lorenzo_Garcia">Lorenzo Garcia</a></h5>
                        <p class="speakerslist-info"><a href="/speakers/Lorenzo_Garcia"><img class="speakerslist-img rounded-circle" src="./images/speakers/Lorenzo_Garcia_tn.jpg" alt="Photo of Lorenzo Garcia"></a></p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <h3 class="speakerslist-title">Deep Sea Wonders</h3>
                        <h5 class="speakerslist-name">with<a href="./Hillary_Goldwynn.html">Hilary Goldywynn Post</a></h5>
                        <p class="speakerslist-info"><a href="./Hillary_Goldwynn.html"><img class="speakerslist-img rounded-circle" src="./images/speakers/Hillary_Goldwynn_tn.jpg" alt="Photo of Hilary Goldywynn Post"></a></p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <h3 class="speakerslist-title">The Art of Abstract</h3>
                        <h5 class="speakerslist-name">with<a href="/speakers/Riley_Rewington">Riley Rudolph Rewington</a></h5>
                        <p class="speakerslist-info"><a href="/speakers/Riley_Rewington"><img class="speakerslist-img rounded-circle" src="./images/speakers/Riley_Rewington_tn.jpg" alt="Photo of Riley Rudolph Rewington"></a></p>
                    </div>
                </div>
                <!-- row-->
            </div>
            <!-- container-->
        </article>
        <div class="container" id="home">
            <div class="row">
                <div class="col-sm-8">
                    <div class="maincontent">
                        <article class="article">
                            <h1 class="article-title">Who are we?</h1>
                            <p>The Roux Academy gets thousands of submissions every year for artists interesting in participating in the CAC exhibits, and selects approximately 200 distinct pieces of contemporary art for display in their collective exhibit.
                                In addition, 12 individuals are honored as Featured Artists - each being granted his or her own exhibit hall to display entire collections or themed pieces.</p>
                            <p>Each Featured Artist has an opportunity to speak at one of our meetups and share his or her vision, perspective, and techniques with attendees on a more personal level than at our large conference. It is truly an honor to be a
                                CAC Featured Artist and many past students artists who were featured at CAC have gone on to brilliant careers in art.</p>
                        </article>
                        <!-- article-->
                        <article class="article">
                            <h1 class="article-title">Get Busy!</h1>
                            <p>If you want to keep up with what's going on with the group,<a href="http://www.meetup.com/rouxmeet">join our meetup group</a>,<a href="http://www.twitter.com/rouxmeet">follow us on twitter</a>. If you're in FaceBook, you can also
                                <a
                                    href="http://www.facebook.com/rouxmeet">join our FaceBook group</a>.</p>
                        </article>
                    </div>
                </div>
                <!-- primary-->
                <aside class="col-sm-4">
                    <article class="sidebar">
                        <h1 class="sidebar-title">Who should come?</h1>
                        <ul class="sidebar-body">
                            <li>Anybody interested in art and the creative industry</li>
                            <li>Painters, sculptors, photographers and graphic artists</li>
                            <li>Those interested in meeting and making a connection with others in the local art scene.</li>
                        </ul>
                    </article>
                    <!-- article-->
                    <article class="sidebar">
                        <h1 class="sidebar-title">Artwork on display</h1>
                        <p class="sidebar-body">While you attend the conference, head over to our gallery where you can check out some of the work from our speakers.</p>
                        <div class="pixgrid clearfix"><img src="./images/artwork/Lorenzo_Garcia_01_tn.jpg" alt="Artwork 0"><img src="./images/artwork/Lorenzo_Garcia_02_tn.jpg" alt="Artwork 1"><img src="./images/artwork/Lorenzo_Garcia_03_tn.jpg" alt="Artwork 2"><img src="./images/artwork/Lorenzo_Garcia_04_tn.jpg"
                                alt="Artwork 3"><img src="./images/artwork/Hillary_Goldwynn_01_tn.jpg" alt="Artwork 4"><img src="./images/artwork/Hillary_Goldwynn_02_tn.jpg" alt="Artwork 5"><img src="./images/artwork/Hillary_Goldwynn_03_tn.jpg" alt="Artwork 6">
                            <img
                                src="./images/artwork/Hillary_Goldwynn_04_tn.jpg" alt="Artwork 7"><img src="./images/artwork/Hillary_Goldwynn_05_tn.jpg" alt="Artwork 8"><img src="./images/artwork/Hillary_Goldwynn_06_tn.jpg" alt="Artwork 9"><img src="./images/artwork/Hillary_Goldwynn_07_tn.jpg" alt="Artwork 10"><img src="./images/artwork/Riley_Rewington_01_tn.jpg"
                                    alt="Artwork 11"><img src="./images/artwork/Riley_Rewington_02_tn.jpg" alt="Artwork 12"><img src="./images/artwork/Riley_Rewington_03_tn.jpg" alt="Artwork 13"><img src="./images/artwork/Riley_Rewington_04_tn.jpg" alt="Artwork 14">
                                <img
                                    src="./images/artwork/Riley_Rewington_05_tn.jpg" alt="Artwork 15"><img src="./images/artwork/Riley_Rewington_06_tn.jpg" alt="Artwork 16"></div>
                    </article>
                </aside>
                <!-- secondary-->
            </div>
        </div>
        <!-- container-->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>